/*
!/.gitignore
!/.github
!/gulpfile.js
!/config.json
!/package.json
!/package-lock.json
!/tsconfig.json
!/LICENSE.MIT
!/README.md
!/lib-find-the-path
!/.gitmodules
!/.eslintrc.json

!/src
/src/*
# Gulp copies these files
!/src/module.json
!/src/assets
!/src/lang
!/src/packs
!/src/scripts
!/src/styles
!/src/templates


!/.vscode
/.vscode/*
!/.vscode/extensions.json

!/docs