@import '../global-variables.scss';

#{$module-code}-target-part #{$module-code}-check-part {
  
  display: block;
  font-size: 12px;
  min-width: 5.5em;

  #{$module-code}-roll-d20 {
    font-size: 1em;
  }

}