@import '../global-variables.scss';

body.key-shift #{$module-code}-target-part:hover .copy {
  display: none;
}

body:not(.key-shift) #{$module-code}-target-part .delete,
#{$module-code}-target-part:not(:hover) .delete {
  display: none;
}

#{$module-code}-target-part {
  .target-table {
    display: grid;

    .one-line {
      display: flex;
      min-width: max-content;
    }

    .header-cell.target-amount-summary {
      display: flex;
      justify-content: center;
    }

    .placeholder-image {
      margin-left: 4px;;
      opacity: .5;
      color: red;
    }

    .icon-button {
      font-size: 10px;
      height: 2em;
      width: 2em;
      line-height: 1em;
    }
    
    .apply {
      &[data-state="applied"] {
        color: green;
      }
      
      &[data-state="disabled"] {
        opacity: .5;
        pointer-events: none;
      }
    }

    .undo {
      &[data-state="not-applied"] {
        opacity: .5;
        pointer-events: none;
      }
    }
  }

}