@import '../global-variables.scss';

#{$module-code}-target-part {
  .target-table {
    display: grid;

    .one-line {
      display: flex;
      min-width: max-content;
    }
    
  .apply,
  .undo {
    font-size: 10px;
    height: 2em;
    width: 2em;
    line-height: 1em;
  }
    
    .apply {
      &[data-state="applied"] {
        color: green;
      }
      
      &[data-state="disabled"] {
        opacity: .5;
        pointer-events: none;
      }
    }

    .undo {
      &[data-state="not-applied"] {
        opacity: .5;
        pointer-events: none;
      }
    }
  }

}