@import '../global-variables.scss';

.#{$module-name}-item-card {
  .target-table {
    display: grid;
  }

  .#{$module-name}-apply {
    &[data-#{$module-name}-state="applied"] {
      color: green;
    }
    
    &[data-#{$module-name}-state="disabled"] {
      opacity: .5;
      pointer-events: none;
    }
  }

  .#{$module-name}-undo {
    &[data-#{$module-name}-state="not-applied"] {
      opacity: .5;
      pointer-events: none;
    }
  }
}