@import 'global-variables';

/* default foundry css */
.#{$module-name}-item-card {
  font-style: normal;
  font-size: 12px;

  .table {
    padding-left: 2px;

    .header-cell {
      background: rgba(0, 0, 0, 0.5);
      color: #f0f0e0;
      text-shadow: 1px 1px #000;
      border-bottom: 1px solid #000;
    }
    
    .body-cell,
    .header-cell {
      padding: 0.25em 0;
      min-height: 1.8em;
      text-align: center;
    }
  }

  /* Fix some defaut foundry css */
  select option {
    color: white;
  }
}

.#{$module-name}-item-card {
  font-style: normal;
  font-size: var(--font-size-12, 12px);
  --button-height: calc(2em - 2px);

  button {
    font-size: var(--font-size-14, 14px);
    background: rgb(190, 189, 178);
    border: 2px groove #eeede0;
    height: var(--button-height);
    line-height: calc(var(--button-height) - 4px);
  }

  .dice-roll .dice-flavor {
    text-align: center;
  }

  .dice-rolls {
    list-style: none;
    margin: 5px 0;
    padding: 0;
    overflow: hidden;

    .dice-flavor {
      text-align: center;
    }
  }

  .#{$module-name}-flavor {
    text-align: center;
  }
  
  [data-#{$module-name}-action="toggle-collapse"] {
    cursor: pointer;
  }

  .#{$module-name}-header {
    padding: 3px 0;
    border-top: 2px groove #FFFFFF;
    border-bottom: 2px groove #FFFFFF;
    display: flex;
    gap: 4px;

    .#{$module-name}-item-name {
      flex: 1;
      margin: 0;
      line-height: 36px;
      font-family: "Modesto Condensed", "Palatino Linotype", serif;
      font-size: 20px;
      font-weight: 700;
      color: #4b4a44;
    }
  }
  
  .#{$module-name}-attack,
  .#{$module-name}-first-dmg {
    flex-grow: 1;
    flex-basis: 0;
  }

  .#{$module-name}-item-check {
    text-align: center;
    width: 12em;
  }

  .#{$module-name}-item-attack {
    text-transform: capitalize;
  }

  .overlay {
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    padding: 3px;

    > .left,
    > .right {
      pointer-events: initial;
      display: flex;
      width: fit-content;
    }

    .middel {
      flex-grow: 1;
    }
  }

  .#{$module-name}-applied {
    .#{$module-name}-apply {
      color: green;
    }
  }

  &:not(:hover) .#{$module-name}-roll-wrapper .overlay {
    display: none;
  }
  
  .#{$module-name}-roll-wrapper {
    position: relative;
    
    .#{$module-name}-mode-minus,
    .#{$module-name}-mode-plus,
    .damage-source-toggle {
      background: #f2f2e3;
      border: 1px solid #b5b3a4;
      line-height: 0px;
      font-size: 10px;
      height: 2em;
      width: 2em;
    }
    
    .damage-source-toggle {
      position: relative;

      &.source-normal {
        .hand-1 {
          opacity: .5;
        }
      }
      .hand-1 {
        transform: translateY(-50%) rotate(90deg) scaleX(-1);
        position: absolute;
        left: 2px;
        top: 50%;
      }
      .hand-2 {
        transform: translateY(-50%) rotate(270deg);
        position: absolute;
        right: 1px;
        top: 50%;
      }
    }

    .#{$module-name}-mode-minus {
      color: red;
    }

    .#{$module-name}-mode-plus {
      color: #4F8A10;
    }

    .#{$module-name}-mode-plus[disabled],
    .#{$module-name}-mode-minus[disabled] {
      color: inherit;
      opacity: .5;
    }
  }

  .#{$module-name}-header, .#{$module-name}-section {
    margin: 5px 0;
  }
  
  .#{$module-name}-apply,
  .#{$module-name}-undo {
    font-size: 10px;
    height: 2em;
    width: 2em;
    line-height: 1em;
  }

  .#{$module-name}-footer {
    padding: 3px 0 0;
    border-top: 2px groove #FFF;

    span {
      border-right: 2px groove #FFF;
      padding: 0 3px 0 0;
      font-size: 10px;
    }
  }
}