@import 'global-variables';

#chat {
  .#{$module-name}-item-card {
    font-style: normal;
    font-size: 12px;

    .dice-flavor {
      text-align: center;
    }

    .#{$module-name}-header {
      padding: 3px 0;
      border-top: 2px groove #FFFFFF;
      border-bottom: 2px groove #FFFFFF;
      display: flex;
      gap: 4px;

      .#{$module-name}-item-name {
        flex: 1;
        margin: 0;
        line-height: 36px;
        font-family: "Modesto Condensed", "Palatino Linotype", serif;
        font-size: 20px;
        font-weight: 700;
        color: #4b4a44;
      }
    }
    
    .#{$module-name}-attack-wrapper {
      position: relative;
      flex-grow: 1;
      flex-basis: 0;
    }
    
    .#{$module-name}-first-dmg {
      flex-grow: 1;
      flex-basis: 0;
    }
    
    :hover [data-#{$module-name}-action="item-attack-mode-minus"], 
    :hover [data-#{$module-name}-action="item-attack-mode-plus"],
    :hover [data-#{$module-name}-action="item-post-attack-mode-minus"], 
    :hover [data-#{$module-name}-action="item-post-attack-mode-plus"] {
      display: block;
    }

    [data-#{$module-name}-action="item-attack"] {
      text-transform: capitalize;
    }

    [data-#{$module-name}-action="item-attack-mode-minus"],
    [data-#{$module-name}-action="item-attack-mode-plus"],
    [data-#{$module-name}-action="item-post-attack-mode-minus"],
    [data-#{$module-name}-action="item-post-attack-mode-plus"] {
      display: none;
      position: absolute;
      line-height: 0px;
      width: 20px;
      height: 20px;
      font-size: 10px;
    }

    [data-#{$module-name}-action="item-attack-mode-minus"],
    [data-#{$module-name}-action="item-post-attack-mode-minus"] {
      color: red;
      top: 50%;
      left: 0;
      transform: translate(25%, -50%);
    }

    [data-#{$module-name}-action="item-attack-mode-plus"],
    [data-#{$module-name}-action="item-post-attack-mode-plus"] {
      color: green;
      top: 50%;
      right: 0;
      transform: translate(-25%, -50%);
    }

    .#{$module-name}-attack-mode-disadvantage [data-#{$module-name}-action="item-attack-mode-minus"],
    .#{$module-name}-attack-mode-advantage [data-#{$module-name}-action="item-attack-mode-plus"] {
      color: inherit;
      opacity: .5;
    }

    .#{$module-name}-header, .#{$module-name}-section {
      margin: 5px 0;
    }

    .#{$module-name}-footer {
      padding: 3px 0 0;
      border-top: 2px groove #FFF;

      span {
        border-right: 2px groove #FFF;
        padding: 0 3px 0 0;
        font-size: 10px;
      }
    }
  }
}