@import 'global-variables';

.hide-flavor #{$module-code}-roll-d20,
#{$module-code}-roll-d20.hide-flavor {
  .flavor {
    display: none;
  }
}

/* default foundry css */
#{$module-code}-roll-d20 {
  display: block;
  font-size: var(--font-size-14, 14px);
  
  &:not(:hover) .roll-wrapper .overlay {
    display: none;
  }

  .flavor {
    text-align: center;
  }

  .bonus-container {
    position: relative;
    
    .user-bonus {
      position: absolute;
      background: rgb(193, 193, 182);
      margin-left: 2px;
      z-index: 1;
    }
  }

  #{$module-code}-roll-result {
    font-size: 1em;
  }

  &.snug {
    --button-height: 1.5em;
  }
  
  .roll-wrapper {
    position: relative;

    .advantage-icon,
    .normal-mode-icon,
    .disadvantage-icon {
      width: calc(var(--button-height) - 4px); // 2px border of the button on each side
      height: calc(var(--button-height) - 4px);
    } 

    .advantage-icon {
      .d20 {
        color: green;
      }

      .arrow-up {
        transform: translate(.15em, .15em);
        color: black;
      }
    }

    .disadvantage-icon {
      .d20 {
        color: #c81627;
      }

      .arrow-down {
        transform: rotate(180deg) translate(-1.1em, -1.1em);
        color: black;
      }
    }
    
    .mode-minus,
    .mode-plus {
      font-size: 1em;
      background: #f2f2e3;
      border: 1px solid #b5b3a4;
      line-height: 0px;
      height: calc(1.5em - 1px);
      width: calc(1.5em - 1px);
      margin: 0 1px;
      padding: 0;

      > i {
        font-size: .7em;
      }
    }

    .mode-plus[disabled],
    .mode-minus[disabled] {
      color: inherit;
      opacity: .5;
    }

    .mode-minus {
      color: red;
    }

    .mode-plus {
      color: #4F8A10;
    }
  }
}