@import 'global-variables';

.hide-flavor #{$module-code}-roll-result,
#{$module-code}-roll-result.hide-flavor {
  .term-flavor {
    display: none;
  }

  .terms {
    grid-template-columns: auto max-content;
  }
}

#{$module-code}-roll-result {
  display: block;
  font-size: var(--font-size-14, 14px);

  .wrapper:not(.open) {
    .terms,
    .roll-formula {
      display: none;
    }
  }

  .boxed {
    position: relative;
    margin: 0;
    line-height: 1.5em;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border-light-2, #999);
    border-radius: 3px;
    box-shadow: 0 0 2px #FFF inset;
    word-break: break-all;
  }

  .roll-total {
    font-weight: bold;
  }

  .terms {
    //display: flex;
    display: grid;
    grid-template-columns: auto max-content max-content;
    $module-code: 1.5em;
    line-height: #{$module-code};
    gap: 0 5px;
    border-left: 1px solid var(--color-border-light-2, #999);
    border-right: 1px solid var(--color-border-light-2, #999);
    border-radius: 3px;

    .term-results {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
    }

    .term-result {
      width: #{$module-code};
      height: #{$module-code};
      text-align: center;
      
      .term-value {
        position: relative; // render above background
      }
      
      &::before {
        content: "";
        display: block;
        position: absolute;
        background-image: url("/icons/svg/d20-grey.svg");
        background-size: #{$module-code} #{$module-code};
        width: #{$module-code};
        height: #{$module-code};
      }
      &.d4::before {
        background-image: url("/icons/svg/d4-grey.svg");
      }
      &.d6::before {
        background-image: url("/icons/svg/d6-grey.svg");
      }
      &.d8::before {
        background-image: url("/icons/svg/d8-grey.svg");
      }
      &.d10::before {
        background-image: url("/icons/svg/d10-grey.svg");
      }
      &.d12::before {
        background-image: url("/icons/svg/d12-grey.svg");
      }
      &.d20::before {
        background-image: url("/icons/svg/d20-grey.svg");
      }
      &.min {
        color: #aa0200;
        &::before {
          filter: sepia(5) hue-rotate(-20deg);
        }
      }
      &.max {
        color: #18520b;
        &::before {
          filter: sepia(0.5) hue-rotate(60deg);
        }
      }
      &.discarded,
      &.rerolled {
        filter: sepia(0.5) contrast(0.75) opacity(0.4);
      }
      
      &.exploded:before {
        font-size: var(--font-size-8, 8px);
        font-family: "Font Awesome 5 Free";
        content: "\f666";
        position: absolute;
        top: -8px;
        right: 0px;
      }
      &.success {
        color: #18520b;
        filter: sepia(0.5) hue-rotate(60deg);
      }
      &.failure {
        color: #aa0200;
        filter: sepia(0.5) hue-rotate(-60deg);
      }
    }

    .term-flavor {
      font-size: .85em;
      color: var(--color-text-dark-secondary, #4b4a4b);
    }

    .term-total {
      text-align: center;
      font-weight: bold;
      padding: 0 5px;
      background: rgba(0, 0, 0, 0.1);
      border-left: 1px solid var(--color-text-light, #999);
    }

    .term-total:nth-child(3) {
      border-top-left-radius: 3px;
    }
    .term-total:last-child {
      border-bottom-left-radius: 3px;
    }
  }
}