<div class="dice-tooltip">
  {{#each terms}}
    {{#if this.results}}
    <section class="tooltip-part">
      <div class="dice">
        <header class="part-header flexrow">
          <span class="part-formula">{{this.expression}}</span>
          {{#if this.flavor}}<span class="part-flavor">{{this.flavor}}</span>{{/if}}
          <span class="part-total">{{this.total}}</span>
        </header>
        <ol class="dice-rolls">
        {{#each this.rolls}}
          <li class="roll die{{#if this.success}} success {{/if}}{{#if this.failure}} failure{{/if}}{{#if this.rerolled}} rerolled{{/if}}{{#if this.exploded}} exploded{{/if}}{{#if this.discarded}} discarded{{/if}}{{#if this.min}} min{{/if}}{{#if this.max}} max{{/if}}">{{this.result}}</li>
        {{/each}}
        </ol>
      </div>
    </section>
    {{/if}}
  {{/each}}
</div>
