{{! TODO observer is added to have available spell slots => better sollution }}
{{#nacPerm (nacConcat "ObserverUuid:" @root.data.calc$.actorUuid)}}
  <select class="form-fields" {{#if (or (nacExpr data.calc$.spellSlots.length '<=' 1) (nacMisPerm (nacConcat "OwnerUuid:" @root.data.calc$.actorUuid)) )}}disabled{{/if}} data-action="spell-level-change">
    {{#each data.calc$.spellSlots as |spellSlot|}}
      {{#nacExpr spellSlot.type '===' 'spell'}}
        <option {{#nacExpr @root.data.selectedLevel '===' spellSlot.level}}selected{{/nacExpr}} value="{{spellSlot.level}}">{{ localize "DND5E.SpellLevelSlot" level=(localize (nacConcat "DND5E.SpellLevel" spellSlot.level)) n=spellSlot.availableSlots }}</option>
      {{else}} 
        <option {{#nacExpr @root.data.selectedLevel '===' 'pact'}}selected{{/nacExpr}} value="pact">{{ localize "DND5E.SpellLevelPact" level=spellSlot.level n=spellSlot.availableSlots }}</option>
      {{/nacExpr}}
    {{/each}}
  </select>
{{/nacMisPerm}}